@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Corbel';
    src: url('/Corbel.ttf') format('truetype');
}  

html {
  font-family: 'Corbel', sans-serif;
  font-size: 18pt;
}

input {
  @apply border border-black
}

@layer utilities {
  .anchor-center {
    transform: translate(-50%, -50%);
  }
}
